*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Header */
.header{
    height: 100vh;
    width: 100%;
    background-image: url(img/bg-header2.jpg);
    background-size: cover;
    background-position: center;
}

.header img{
    filter: brightness(70%);
}

/* Navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 13%;
    padding-right: 13%;
}

nav ul li{
    display: inline-block;
    padding: 20px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

.logo a{
    color: white;
    text-decoration: none;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
}

.perkenalan{
    position: absolute;
    top: 20%;
    left: 8%;
}

.perkenalan h4{
    color: white;
    text-align: left;
    font-size: 40px;
    margin: 5px 0px;
    letter-spacing: 2px;
    font-weight: 120;
    margin-left: 70px;
    margin-top: 100px;
}

.perkenalan h1{
    color: white;
    margin: 5px 0px;
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 120;
    margin-left: 70px;
}

.perkenalan h3{
    color: white;
    margin-bottom: 50px;
    text-align: left;
    margin: 55px 0px;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 120;
    margin-left: 70px;
    margin-right: 45%;
}


/* Biodata */
.biodata{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.biodata img{
    height: auto;
    width: 430px;
    margin-top: auto;
    border-radius: 5%;
}

.isi-biodata{
    width: 550px;
}

.layout-biodata{
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.isi-biodata h3{
    font-size: 55px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-bottom: 40px;
    margin-right: -30px;
    letter-spacing: 2px;
}

.isi-biodata p{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 20px;
}

.isi-biodata ul{
    list-style: none;
    display: table;
}

.isi-biodata li{
    display: table-row;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
}

.isi-biodata b {
    display: table-cell;
    padding-right: 1em;
    line-height: 28px;
}

/* Footer */
.footer{
    height: auto;
    width: 100%;
    padding: 60px 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #111111;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3{
    font-size: 55px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    letter-spacing: 2px;
}

.footer .copyright p{
    font-size: 50px;
    margin-bottom: -30px;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 3px;
}

.footer .layout-medsos{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .layout-medsos a{
    margin: 25px;
    color: white;
}

.footer .layout-medsos a:hover i{
    color: #605553;
}
